/* General */

* {
    box-sizing: border-box;
	scroll-behavior: smooth;
}

html {
    -webkit-font-smoothing: antialiased;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    font-size: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    text-align: left;
    font-family: Arial, sans-serif;
    font-size: 1.3rem;
    color: #000000;
    line-height: 135%;
}

#wrapper {
    max-width: 50%;
    margin: auto;
    flex: 1;
    margin-top: 5%;
    margin-bottom: 5%;
    display: block;
}

.content {
	display: block;
	margin-top: 3%;
}

/* Links */
a {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: #000000;
  padding: 0 1px;
  transition: color ease 0.3s;
}

a::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: 0;
    background-color: #20A6FF;
    transition: all ease 0.3s;
 }

a:hover {
    color: white;
}
a:hover::after {
     height: 100%;
}


/* Headers */

.home-heading {
    font-family: "Sequel 100 Wide 95";
    font-weight: 700;
    font-size: 200%;
    line-height: 100%;
    letter-spacing: 2px;
}

h1, h2, h3 {
    font-family: "Sequel 100 Wide 95";
    font-weight: 700;
    letter-spacing: 2px;
}

h1 {
    font-size: 200%;
    line-height: 100%;
    margin-bottom: 20px;
}

.error-heading {
    font-size: 200%;
    line-height: 100%;
    margin-top: 40px;
}

h2 {
    font-size: 150%;
    line-height: 100%;
    padding-top: 15px;
}

h3 {
    font-size: 125%;
    padding-top: 5%;
}

.portfolio-description {
    color: #999999;
    font-style: italic;
}

.portfolio-heading-h1 {
    font-family: Arial, sans-serif;
    font-weight: 700;
    font-size: 200%;
    line-height: 100%;
    margin-bottom: 20px;
    letter-spacing: 0px;
}

.portfolio-heading-h2 {
    font-family: Arial, sans-serif;
    font-weight: 700;
    font-size: 150%;
    line-height: 100%;
    padding-top: 15px;
    letter-spacing: 0px;
}

.portfolio-heading-h3 {
    font-family: Arial, sans-serif;
    font-weight: 700;
    font-size: 125%;
    letter-spacing: 0px;
    padding-top: 0%;
}


/* Navigation */
.navigation {
    font-family: "Sequel 100 Wide 95";
    letter-spacing: 2px;
    width: 100%;
    margin: auto;
    display: block;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
}

.nav1 {
    display: inline-block;
    float: left;
    margin: auto;
    width: 33.3%;
    text-align: center;
}

.nav2 {
    display: inline-block;
    float: left;
    margin: auto;
    width: 33.3%;
    text-align: center;
}

.nav3 {
    display: inline-block;
    float: left;
    margin: auto;
    width: 33.3%;
    text-align: center;
}

.logo-letter {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    max-width: 5%;
    margin: 2%;
}


/* Other page styling */
.face-img {
    max-width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.writing-link {
	display: block;
	float: left;
	margin-top: 60px;
	margin-left: 25px;
}

.quote {
    font-style: italic;
	margin-left: 5%;
	margin-top: 35px;
	margin-bottom: 35px;
}

img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.portfolio-img {
   padding-bottom: 2%;
}

li {
    padding-bottom: 14px;
}

.dinkus {
    font-size: 150%;
    text-align: center;
}

@import url(https://db.onlinewebfonts.com/c/d002e7c91b889cc10ce21789cfde95dd?family=Sequel+100+Wide+95);


@media screen and (max-width: 900px) {
#wrapper {
    max-width: 80%;
    margin: auto;
    flex: 1;
    margin-top: 5%;
    margin-bottom: 5%;
    display: block;
}

h1 {
    font-size: 250%;
    line-height: 100%;
    margin-bottom: 20px;
}
}

@media screen and (max-width: 500px) {
.face-img {
    max-width: 75%;
}
}
